h2{
  margin-top: 50px;
}

.wrapper{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.users-cards-wrap{
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  width: 100%;
}

.users-card-wrap{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.users-card{
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 320px;
  border: 1px solid black;
  cursor: pointer;
}

.users-card-img{
  padding: 10px;
  width: 300px;
  height: 300px;
  position: relative;
}

.users-card-title{
  padding: 5px;
  font-size: 15px;
  height: 25px;
  border-top: 1px solid black;
  text-align: center;
}


