h2{
  margin-top: 50px;
}

.users{
  padding: 20px 20px;
}

.infinite{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.users-cards{
  padding: 10px 10px;
}

.users-card{
  cursor: pointer;
  height: 310px;
  width: 260px;
  border: 1px solid black;
}

.users-card-img{
  padding: 5px 20px;
  height: 260px;
  width: 220px;
}

.users-card-title{
  padding: 5px;
  text-align: center;
  border-top: 1px solid black;
}
