h1{
  margin-top: 50px;
  text-align: center;
}

.user{
  margin-left: 70px;
  margin-right: 70px;
  padding: 30px;
  text-align: center;
  border: 1px solid black;
}

.user-img{
  max-width: 80%;
  width: auto;
  min-height: 480px;
}

.user-name{
  font-size: 32px;
  padding: 10px;
}

.user-IdPw{
  font-size: 25px;
  padding: 3px;
}

.user-AgeBirthDateGender{
  font-size: 25px;
  padding: 6px;
}

.user-body{
  font-size: 22px;
  padding: 6px;
}

.user-bottom{
  font-size: 28px;
  margin-top: 12px;

}

.back{
  padding-top: 20px;
  cursor: pointer;
  width: 85px;
}
