<h1>UsersDetail</h1>

<div class="dUsers">
  <div class="img"><img src="{{users.image}}" alt="image" height="500" width="500"></div>
  <div class="name"> 이름: {{users.firstName}} {{users.maidenName}} {{users.lastName}}</div>
  <div class="agb">나이: {{users.age}}, 생년월일: {{users.birthDate}}, 성별: {{users.gender}}</div>
  <div class="idPw">ID: {{users.username}}</div>
  <div class="idPw">PASSWORD: {{users.password}}</div>
  <div class="bottom">키: {{users.height}}, 몸무게: {{users.weight}}, 혈액형: {{users.bloodGroup}}</div>
  <div class="bottom">주소: {{users.address.address}}, {{users.address.city}}, {{users.address.state}}, 우편번호: {{users.address.postalCode}}</div>
  <div class="bottom">회사: {{users.company.name}}, 부서: {{users.company.department}}, 직업: {{users.company.title}}</div>
  <div class="dBottom">e-mail: {{users.email}}</div>
  <div class="dBottom">Tel: {{users.phone}}</div>
</div>
<div class="back" (click)="goBack()">되돌아가기</div>
