h1{
  margin-top: 50px;
  text-align: center;
}

.dUsers{
  margin-left: 70px;
  margin-right: 70px;
  padding: 80px;
  text-align: center;
  border: 1px solid black;
}

.img{
  padding: 5px;
  border: 1px solid black;
}

.name{
  font-size: 32px;
  padding: 10px;
}

.idPw{
  font-size: 25px;
  padding: 3px;
}

.agb{
  font-size: 25px;
  padding: 6px;
}

.back{
  cursor: pointer;
  width: 85px;
}

.bottom{
  font-size: 22px;
  padding: 6px;
}

.dBottom{
  font-size: 28px;
  margin-top: 12px;

}
