<div *ngIf="user$ | async as user">
  <h1>UsersDetail</h1>

  <div class="user">
    <div><img class="user-img" src="{{user.image}}" alt="image"></div>
    <div class="user-name"> 이름: {{user.firstName}} {{user.maidenName}} {{user.lastName}}</div>
    <div class="user-AgeBirthDateGender">나이: {{user.age}}, 생년월일: {{user.birthDate}}, 성별: {{user.gender}}</div>
    <div class="user-IdPw">ID: {{user.username}}</div>
    <div class="user-IdPw">PASSWORD: {{user.password}}</div>
    <div class="user-body">키: {{user.height}}, 몸무게: {{user.weight}}, 혈액형: {{user.bloodGroup}}</div>
    <div class="user-body">주소: {{user.address.address}}, {{user.address.city}}, {{user.address.state}}, 우편번호: {{user.address.postalCode}}</div>
    <div class="user-body">회사: {{user.company.name}}, 부서: {{user.company.department}}, 직업: {{user.company.title}}</div>
    <div class="user-bottom">e-mail: {{user.email}}</div>
    <div class="user-bottom">Tel: {{user.phone}}</div>
  </div>
</div>

<div class="back" (click)="goBack()">되돌아가기</div>
