<h2>Products</h2>

<div class="product">
  <div class="infinite"
       infiniteScroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="300"
       (scrolled)="scrollDn()">
    <div class="product-cards" *ngFor="let product of newProduct">
      <div [routerLink]="['/products', product.id]" class="product-card" >
        <div>
          <img class="product-card-img" src="{{ product.thumbnail }}" alt="thumbnail">
        </div>
        <div class="product-card-title">
          {{ product.title }}
        </div>
      </div>
    </div>
  </div>
</div>
