h2{
  margin-top: 50px;
}

.product{
  width: 100%;
  padding: 20px 20px;
}

.infinite{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-cards{
  padding: 10px 10px;
}

.product-card{
  cursor: pointer;
  border: 1px solid black;
  height: 260px;
  width: 220px;
}

.product-card-img{
  padding: 10px 30px;
  width: 160px;
  height: 200px;
}

.product-card-title{
  text-align: center;
  border-top: 1px solid black;
}
