<h2>Posts</h2>

<table *ngIf="posts$ | async as posts">
  <thead>
    <tr>
      <th class="header">제목</th>
      <th class="header">태그</th>
      <th class="header">좋아요</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td class="title"><a [routerLink]="['/posts', post.id]">{{post.id}}. {{post.title}}</a></td>
      <td class="center">{{post.tags}}</td>
      <td class="center">{{post.reactions}}</td>
    </tr>
  </tbody>
</table>

<div>
  <mat-icon class="click" (click)="leftClick()">keyboard_arrow_left</mat-icon>
  <mat-icon class="click" (click)="rightClick()">keyboard_arrow_right</mat-icon>
</div>

<!--<div class="wrapper">-->
<!--  <div *ngFor="let po of newPost" class="di">-->
<!--    <p id="i">{{po.id}}. {{po.title}}</p>-->
<!--    <p id="n">내용: {{po.body}}</p>-->
<!--    <p>tag: {{po.tags}}</p>-->
<!--    <p>추천: {{po.reactions}}</p>-->
<!--  </div>-->
<!--</div>-->
<!--<mat-paginator [length]="length"-->
<!--               [pageSize]="pageSize"-->
<!--               aria-label="Select page"-->
<!--               [showFirstLastButtons]="true"-->
<!--               (page)="pageGet($event)"-->
<!--&gt;</mat-paginator>-->
