h2{
  margin-top: 50px;
}

table {

  margin-top: 60px;
  font-family:sans-serif;

  td {
    background-color:#96b6c15c;
  }
  th {
    text-align: center;
    background-color:#4d51b7cc;
    color:#fff;
  }
}
.title{
  cursor: pointer;
}

.center{
  text-align: center;
}

.click{
  cursor: pointer;
  margin: 50px;
}
