<h2>Posts</h2>

<table *ngIf="posts$ | async as posts">
  <thead>
    <tr>
      <th class="header">제목</th>
      <th class="header">태그</th>
      <th class="header">좋아요</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td class="title"><a [routerLink]="['/posts', post.id]">{{post.id}}. {{post.title}}</a></td>
      <td class="center">{{post.tags}}</td>
      <td class="center">{{post.reactions}}</td>
    </tr>
  </tbody>
</table>

<div>
  <mat-icon class="click" (click)="eventClick('left')">keyboard_arrow_left</mat-icon>
  <mat-icon class="click" (click)="eventClick('right')">keyboard_arrow_right</mat-icon>
</div>

