h1{
  margin-top: 50px;
  text-align: center;
}

.product{
  margin-left: 120px;
  margin-right: 120px;
  padding: 30px;
  text-align: center;
  border: 1px solid black;
}

.product-title{
  font-size: 38px;
}

.product-img{
  height: 480px;
  width: 480px;
  padding: 20px;
}

.product-body{
  font-size: 30px;
}

.product-bottom{
  padding: 8px;
  font-size: 22px;
}

.back{
  padding-top: 20px;
  cursor: pointer;
  width: 85px;
}
