<h1>ProductsDetail</h1>

<div class="dProduct">
  <div class="title">{{product.title}}</div>
  <div class="img"><img src="{{product.thumbnail}}" alt="tumbnail" height="480" width="480"></div>
  <div class="body">{{product.description}}</div>
  <div class="bottom">카테고리: {{product.category}}</div>
  <div class="bottom">브랜드: {{product.brand}}</div>
  <div class="bottom">가격: {{product.price | currency}}, 할인율: {{product.discountPercentage}}%</div>
  <div class="bottom">평점: {{product.rating}} , 재고: {{product.stock}}</div>
</div>
<div class="back" (click)="goBack()">되돌아가기</div>
